.genreList {
    flex: 4;
  }
  
  .genreListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .genreListItem {
    display: flex;
    align-items: center;
  }
  
  .genreListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .genreListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: teal;
    color: white;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .genreListDelete {
    color: red;
    cursor: pointer;
  }
  
  .genreAddButton {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: teal;
    color: white;
    cursor: pointer;
  }