.newArtist {
  flex: 4;
}

.addArtistForm {
  margin-top: 10px;
}

.addArtistItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addArtistItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addArtistItem > input {
  padding: 10px;
}

.addArtistItem > select {
  padding: 10px;
}

.addArtistButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: teal;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
